.header {
    background-image: url('../../images/hero-bg\ \(1\).svg');
    background-size: cover;
    background-position: center;
}

.header__navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.8rem;
}

.header__hero {
    padding-top: 7.1rem;
    padding-bottom: 7.2rem;
}

.header__hero__container {
    display: flex;
    align-items: center;
}

.header__hero__content {
    width: 100%;
    max-width: 536px;
}

.header__hero__title {
    margin-bottom: 3.2rem;
}

.header__hero__description {
    margin-bottom: 3.2rem;
}
